* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b0f19;
  color: #e5e7eb;
  font-family: "Segoe UI", sans-serif;
}

/* ZALO FLOAT */
.zalo-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2563eb;
  color: #fff;
  padding: 12px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(37, 99, 235, 0.6);
  z-index: 1000;
}

.zalo-float:hover {
  background: #1d4ed8;
}
